html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;

    background: rgb(0,100,102);
    /* background: linear-gradient(180deg, rgba(0,100,102,1) 0%, rgba(77,25,77,1) 100%); */
    background: linear-gradient(to bottom, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Open sans';
}

#main-div {
    color: white;
}

#container {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 100px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Raleway';
}

a { 
    color:white;
    text-decoration: underline;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white
}