html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;

    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              
    color: white;

    font-family: 'Open sans';
}

#container {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 100px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Raleway';
}

a { 
    color:white;
    text-decoration: underline;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  
}