body{
    scroll-behavior: smooth;
}
#headshot{
    width: 12vw;
}

#header {
    z-index: 0;
    opacity: 0;
    padding-top: 200px;
    padding-bottom: 150px;
}

img.about-img {
    float: right;
    margin-top: 35px;
    width: 75%;
}

img.about-img-col {
    width: 80px;
}

@media only screen and (max-width:1024px){
    /*
    TODO: reduce top padding so it shows nicely with the chrome bar on mobile
    */
    #headshot{
        width: 25vw;
    }
    #header{
        padding-top: 100px;
    }
    img.about-img-col {
    margin-top: 30px;
    }
}
@media only screen and (max-width:992px){
    img.about-img {
    margin:auto;
    margin-bottom: 20px; 
    margin-top: 25px;
    width: 100%;
    display: block;
    }
}
@media only screen and (max-width:600px){
    #headshot{
        width:40vw;
    }

    #header{
    }
    img.about-img {
    margin-bottom: 20px; 
    margin-top: 25px;
    width: 100%;
    }
    .about-col{
    }

    img.about-img-col {
    display:block;
    margin:auto;
    margin-top: 15px;
    }
}

#nav {
    z-index: 10;
}

nav {
    background-color: #081825;
}

#typingSubheading{
    padding-left: 15px;
    padding-right: 15px;
}

.btn-header {
    margin-left: 15px;
    margin-right: 15px;
}

.hidden {
    visibility: hidden;
}

#header.bg {
    background-image: url(../img/PixelPush.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-size: cover;
    background-position: center;
}

#about {
    z-index: 5;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #116655;
}

.scroll-fade-in {
    opacity: 0;
}

.about-link {
    color: #d50000;
}

.about-heading {
    font-size: 30px;
    word-wrap: break-word;
}

h4.about-heading {}

h4.about-heading.col-heading {
    font-size: 25px;
}

p.skills-text {
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px
}

h3 {
    margin-top: -10px;
    font-size: 25px;
}
#in-progress-container {
    padding-bottom: 50px;
}