body{
	background-color: #F1F1F1;
	min-height: 100vh;
}

.raleway-font {
	font-family: 'Raleway', sans-serif;
}

.open-sans-font {
	font-family: 'Open Sans', sans-serif;
}

#header{
	min-height: 66vh;
	background-image: url('../img/PixelPush.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

#header-content-container {
	min-height: -webkit-calc(66vh - 50px);
}

#header-content.row {
	margin-bottom: 0;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
}

#headshot{
	width: 100%;
}

#tabs-container {
	height: 50px;
}

.tabs .tab {
	height: 100%;
}

#tabs-swipe {
	height: 100%;
}

#header-info {
	padding: 20px;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text{
	color: white;
}

h1.header-text{
	font-size: 25px;
	margin: 0;
}

blockquote.header-text {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 5px solid #8ee9d4;
}

blockquote.header-text > b {
	color: #fc835c;
}

.content {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
}

.content-card {
	margin: 10px;
	flex-grow: 1;
	/*height: 235px;*/
	background-color: white;
}

.content-card.col {
	padding: 0;
}

#web-content-card > .content-card-header {
	background-color: #00baa1;
}

#social-content-card {

}

#programming-content-card > .content-card-header {
	background-color: #34bc6e;
}

#tools-content-card > .content-card-header {
	background-color: #34bc6e;
}

#familiar-content-card > .content-card-header {
	background-color: #00b6cb;
}

.content-card-header {
	padding: 15px;
}

div.content-card-details.row {
	width: 100%;
	margin: 0;
	padding: 15px;
}

h3.content-card-header-text {
	margin: 0;
	color: white;
	font-size: 20px;
}

div.web-content-item.col {
	text-align: center;
	margin-bottom: 15px;
}

svg.web-icon {
	width: 75%;
}

.web-content-item > p {
	margin: 0;
}

#footer {
	background-color: #1d3458;
  width: 100%;
  color: white;
  text-align: center;
	font-size: 12px;
	padding: 10px;
}
